._exclusive {
  display: none;
}

@media print {
  .root {
    visibility: visible; /* visible element even nested in the hidden one */
  }
  .root._main {
    visibility: visible;
  }
  ._exclusive {
    display: block;
  }
}
