.print._exclusive {
  display: none;
}

@media print {
  .printRender {
    width: 100%;
    background-color: #fff;
    z-index: 10000000;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0
  }
  .hiddenAll {
    visibility: hidden !important;
  }
  .hiddenAll .print {
    visibility: hidden;
  }
  .wrap._loose:not(._invert) {
    visibility: hidden;
  }
  .print {
    visibility: visible;
    /* visible element even nested in the hidden one */
  }
  .print._main {
    visibility: visible;
  }
  .print._exclusive {
    display: block;
  }
  .no-print {
    visibility: hidden;
  }
  .no-print._force {
    display: none;
  }
}
