.print._exclusive {
  display: none;
}
@media print {
  .wrap._loose:not(._invert) {
    visibility: hidden;
  }
  .print {
    visibility: visible; /* visible element even nested in the hidden one */
  }
  .print._main {
    position: fixed;
    left: 0;
    top: 0;
  }
  .print._exclusive {
    display: block;
  }
  .no-print {
    visibility: hidden;
  }
  .no-print._force {
    display: none;
  }
}
